  script(src='/js/bootstrap.js')
    form(action='/', method='post')
      label(for='username') Username: 
      input#username(type='text', name='username')
      br
      label(for='password') Password: 
      input#password(type='password', name='password')
      br
      button(type='submit') Login
