doctype 5
html
  head
    title= title
    script(src='/js/bootstrap.js')
    script(src='/javascripts/jquery_1.10.1.js')
    script(src='/javascripts/quizapp.js')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content